main {
  background-color: rgb(26, 28, 23);
  background-color: linear-gradient(90deg, rgba(26, 28, 23, 1) 11%, rgba(87, 76, 44, 1) 40%);
}

nav {
  background-color: rgb(26, 28, 23);
}

.header {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 15% 10% 15%;
}

.gold {
  color: #d39c38;
}

.masterheader {
  padding-top: 3rem;
}

.goldbg {
  background-color: #d39c38;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.px-6 {
  padding-left: 8rem;
  padding-right: 5rem;
}

#baseimage {
  width: 50rem;
}
